<template>
  <div class="flex flex-wrap w-full">
    <div
      class="flex flex-col rounded overflow-hidden shadow-lg image-card"
      v-for="(image, index) in getGif"
      v-bind:key="index"
    >
      <div class="image-container">
        <img v-bind:src="renderGif(image.id)" />
      </div>
      <div class="flex justify-center items-center h-full">
        <button @click="like(image.id)" class="text-2xl">
          {{ renderLike(image.id) ? "❤️" : "🤍" }}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "CardVue",
  props: {
    gifs: Array,
    favorites: Array,
  },
  methods: {
    renderGif: function (id) {
      return `https://media.giphy.com/media/${id}/giphy.gif`;
    },
    getLike: function () {
      return this.favorites;
    },
    like: function (id) {
      return this.$emit("add-favorites", id);
    },
    renderLike: function (id) {
      const compareFavorites = this.getLike()?.filter((fav) => fav === id);
      return compareFavorites?.length > 0 == true;
    },
  },
  computed: {
    getGif: function () {
      return this.gifs;
    },
  },
};
</script>
