<template>
  <div class="flex justify-end w-full md:p-6 pb-5 border-b">
    <div class="inline-flex">
      <button
        v-bind:class="[
          es
            ? `${activeButton} rounded-l-md`
            : `${unactiveButton} rounded-l-md`,
        ]"
        @click="changeLanguage"
      >
        Es
      </button>
      <button
        v-bind:class="[
          !es
            ? `${activeButton} rounded-r-md`
            : `${unactiveButton} rounded-r-md`,
        ]"
        @click="changeLanguage"
      >
        En
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "LanguageBar",
  data() {
    return {
      es: true,
      activeButton:
        "bg-purple-300 hover:bg-purble-700 text-white font-bold py-2 px-4",
      unactiveButton:
        "bg-transparent hover:bg-purple-300 text-purple-400 font-semibold hover:text-white py-2 px-4 border border-purple-300 hover:border-transparent",
    };
  },
  methods: {
    changeLanguage: function () {
      this.es = !this.es;
      this.$emit("language", this.es);
    },
  },
};
</script>
