<template>
  <div class="flex flex-col justify-center items-center h-2/5 bg-blue-100">
    <div class="h-fit">
      <span class="md:text-6xl text-xl md:mr-10 mr-5">{{ icon }}</span>
      <h1 class="md:text-6xl text-2xl w-auto inline-block text-stone-600">
        {{ title }}
      </h1>
      <span class="md:text-6xl text-xl md:mr-10 ml-5">{{ icon }}</span>
    </div>
    <div v-if="searchbar" class="mt-8">
      <Searchbar v-on="$listeners" placeholder="Busca!" />
    </div>
  </div>
</template>
<script>
import Searchbar from "./Searchbar.vue";
export default {
  name: "MainHeader",
  props: {
    title: String,
    icon: String,
    searchbar: Boolean,
  },
  components: { Searchbar },
  methods: {},
};
</script>
