<template>
  <div>
    <input
      :placeholder="placeholder"
      class="md:h-8 h-12 w-64 p-3 rounded-l-md"
      v-model="search"
      @keyup.enter="startSearch"
      @keyup="debounceFunction"
    />
    <button @click="startSearch" class="bg-white md:h-8 h-12 w-8 rounded-r-md">
      🔍
    </button>
  </div>
</template>
<script>
import { debounce } from "../common/utils";
export default {
  name: "SearchBar",
  props: {
    placeholder: String,
  },
  data() {
    return {
      search: "",
    };
  },
  methods: {
    startSearch: function () {
      this.$emit("start-search", this.search);
      const recentSearch = localStorage.getItem("busquedas");
      let stored = recentSearch ? JSON.parse(recentSearch) : [];
      stored.push(this.search);
      localStorage.setItem("busquedas", JSON.stringify(stored));
      return this.search;
    },
  },
  computed: {
    debounceFunction: function () {
      return debounce(this.startSearch, 800);
    },
  },
};
</script>
