<template>
  <div
    class="w-screen md:w-2/5 h-screen bg-white shadow-xl md:relative absolute"
  >
    <div class="pl-5 mt-5">
      <button @click="onGoBack" class="text-2xl md:invisible">⬅️</button>
    </div>
    <Languagebar v-on="$listeners" />
    <div>
      <div class="flex justify-between bg-purple-200 px-8 py-4">
        <p class="text-white">Búsquedas recientes</p>
        <button class="text-lg" @click="deleteBusquedas">✖️</button>
      </div>
      <div>
        <ul class="flex flex-col pt-2">
          <button
            class="font-medium text-left p-3 px-8 bg-purple-100 hover:bg-gray-100 hover:cursor-pointer text-gray-600"
            v-for="(busqueda, index) in getSearch"
            :key="index"
            @click="onGetRecentSearch(busqueda)"
          >
            {{ formattedText(busqueda) }}
          </button>
        </ul>
      </div>
      <button
        @click="onGetFavorites"
        class="flex justify-between w-full mt-2 bg-purple-200 px-8 py-4"
      >
        <p class="text-lg text-white">
          Ver favoritos ({{ favorites?.length || 0 }}) ➡️
        </p>
      </button>
    </div>
  </div>
</template>

<script>
import Languagebar from "./Languagebar.vue";
export default {
  name: "SideBar",
  components: { Languagebar },
  props: {
    recentSearch: {
      type: Array,
    },
    favorites: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  methods: {
    deleteBusquedas: function () {
      this.$emit("clean-search");
    },
    formattedText: function (string) {
      console.log(string);
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    onGetRecentSearch: function (string) {
      return this.$emit("historial", string);
    },
    onGetFavorites: function () {
      return this.$emit("get-favorites");
    },
    onGoBack: function () {
      return this.$emit("close-sidebar");
    },
  },
  computed: {
    getSearch: function () {
      return this.recentSearch;
    },
  },
};
</script>
