<template @startSearch="onStartSearch">
  <div class="md:h-screen flex flex-col md:flex-row w-screen">
    <div id="app" class="h-screen flex flex-col md:w-3/5">
      <div v-if="!closeSidebar" class="pl-5 mt-5 absolute">
        <button @click="onCloseSidebar" class="text-2xl md:invisible">
          ⬅️
        </button>
      </div>
      <MainHeader
        @start-search="onStartSearch"
        searchbar
        :title="title"
        icon="🐶"
      />
      <div class="flex flex-wrap justify-between h-full overflow-scroll p-8">
        <CardVue @add-favorites="onLike" :favorites="favorites" :gifs="gifs" />
      </div>
    </div>
    <Sidebar
      @clean-search="onCleanSearch"
      :recentSearch="recentSearch"
      @language="onGetLanguage"
      @historial="onStartSearch"
      @get-favorites="onGetFavorites"
      :favorites="favorites"
      @close-sidebar="onCloseSidebar"
      :closeSidebar="closeSidebar"
      v-if="closeSidebar"
    />
  </div>
</template>

<script>
import MainHeader from "./components/MainHeader.vue";
import "../src/css/tailwind.css";
import Sidebar from "./components/Sidebar.vue";
import CardVue from "./components/Card.vue";
import { setItem, getItem, removeItem } from "./common/utils";

export default {
  name: "App",
  created() {
    document.title = "Perritos";
  },
  components: {
    MainHeader,
    Sidebar,
    CardVue,
  },
  data() {
    return {
      query: this.search,
      language: "es",
      gifs: [],
      favorites: this.getFavorites(),
      recentSearch: this.getRecentSearch(),
      closeSidebar: true,
    };
  },
  methods: {
    getDoggies(search) {
      fetch(
        `https://api.giphy.com/v1/gifs/search?q=${
          this.language == "es" ? "perro" : "dog"
        }+${search}&lang=${this.language}&api_key=${
          process.env.VUE_APP_API_KEY
        }`
      )
        .then((response) => response.json())
        .then((data) => {
          this.gifs = data.data;
          this.getRecentSearch();
        })
        .catch((err) => {
          console.log(err);
          this.gifs = [];
        });
    },
    onStartSearch: function (search) {
      this.query = search;
      this.getDoggies(search);
    },
    onGetLanguage: function (lg) {
      lg ? (this.language = "es") : (this.language = "en");
    },
    onLike: function (id) {
      const favorites = getItem("favoritos");
      let stored = favorites ? favorites : [];
      const liked = stored.includes(id);
      if (liked) {
        const filter = stored.filter(function (value) {
          return value !== id;
        });
        stored = filter;
      } else {
        stored.push(id);
      }
      setItem("favoritos", stored);
      return (this.favorites = stored);
    },
    getFavorites: function () {
      return JSON.parse(localStorage.getItem("favoritos"));
    },
    getRecentSearch: function () {
      this.recentSearch = getItem("busquedas");
    },
    onCleanSearch: function () {
      removeItem("busquedas");
      this.getRecentSearch();
    },
    onGetFavorites: function () {
      const newGifs = this.favorites.map((fav) => ({
        id: fav,
      }));
      this.gifs = newGifs;
    },
    onCloseSidebar: function () {
      return (this.closeSidebar = !this.closeSidebar);
    },
  },
  computed: {
    title: function () {
      return this.language === "es" ? "Buscador de perritos" : "Doggie finder";
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.image-card {
  width: 260px;
  height: 256px;
  margin: 15px;
}
.image-container {
  height: 190px;
  min-height: 190px;
  width: 100%;
}
img {
  height: 100%;
  width: 100%;
}
</style>
